<div class="container-fluid">
  <div id="about_jumbotron" class="jumbotron">
    <h1 id="about_heading">techCorp</h1>
    <p id="about_text">A university corpus of student documents from the technical communication field.</p>
    <div id="corpus_button"><%= link_to "Go to the corpus", corpus_explorer_path, class: "btn btn-info btn-lg" %></div>
    <% if member_signed_in? %>
      <div><%= link_to "Share a document", new_corpus_entry_path, class: "btn btn-default btn-lg" %></div>
    <% else %>
      <div><%= link_to "Share a document", share_path, class: "btn btn-default btn-lg" %></div>
    <% end %>
  </div>
</div>