<div class="container-fluid">
  <div id="people_jumbotron" class="jumbotron center">
    <h1 id="people_heading">People</h1>
    <p id="people_text">Learn about the people behind the corpus.</p>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h2>Dr. Stefanie Wulff</h2>
      <p>Stefanie (Ph.D. University of Bremen) is a corpus linguist in the Department of Linguistics whose research focuses on variation in native and learner language, student writing, and second language acquisition. Prof. Wulff is co-editor of the <i>Cognitive Linguistics in Practice</i> book series published by John Benjamins.</p><br/>
    <h2>Dr. Ryan K. Boettger</h2>
      <p>Ryan is an associate professor of Professional and Technical Communication and the deputy editor-in-chief of <i>IEEE Transactions on Professional Communication</i>. He received his PhD and MA in Technical Communication and Rhetoric from Texas Tech University and a graduate certificate in Teaching English to Speakers of Other Languages (TESOL) from Pennsylvania State University.</p><br/>
    <h2>Dr. Chris Lam</h2>
      <p>Chris is an assistant professor in the Department of Technical Communication at the University of North Texas. He is published in <i>IEEE Transactions on Professional Communication, Journal of Business and Technical Communication, Journal of Business Communication, Business and Professional Communication Quarterly,</i> and <i>Journal of Technical Writing and Communication</i>.</p><br/>
    <h2>Victor Estrada</h2>
      <p>Victor has collaborated with a team of professors to design the database and interface for techCorp. He worked on the project as a graduate student in the Department of Technical Communication at the University of North Texas. Learn more about the technical communicator at <span><%= link_to("victor-estrada.com", "http://victor-estrada.com") %></span>.</p><br/>
    <h4>Google Research Award</h4>
      <p>$57,507 [Submitted] - Wulff, Stefanie, Boettger, Ryan K and Chris Lam (2015). Helping students learn to write: Creating an online interface fo a corpus of STEM writing, Google Research Award.</p><br/>
    </div>
  </div>
</div>