<%= form_tag 'http://www.tei-c.org/ege-webservice//Conversions/docx%3Aapplication%3Avnd.openxmlformats-officedocument.wordprocessingml.document/TEI%3Atext%3Axml/post', authenticity_token: false do %>

  <div class="form-group form-group-lg col-md-offset-1 col-md-5 col-md-offset-1">
    <%= label_tag(:q, "Upload your docx document") %>
    <%= file_field(:q, class: "form-control input-lg") %>
  </div>

    <div class="row">
      <div class="actions">
        <span id="btn_margin">
          <%= submit_tag("Upload", class: "btn btn-primary") %>
        </span>
      </div>
    </div>
<% end %>