/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */  

  .btn-info {
      width: 100%;
      margin-left: 0%;
      margin-right: 0px;
      margin-top: 25px;
    }
  .btn-default {
      width: 100%;
      margin-left: 0%;
      margin-right: 0px;
      margin-top: 10px;
    }
  #corpus_button{
      margin-bottom: 5px;
  }
  .jumbotron {
    margin: none;
  }
  #about_jumbotron {
    background-image: url("class_mobile.png");
    background-size: cover;
    margin: none;
} 
  #about_heading {
    color: #ecf0f1;
  }
  #about_text {
    color: #ecf0f1;
    line-height: 100%;
    background-color: #34495e;
    padding: 4%;
    border-radius: 5px;
  }



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  
  
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  
  
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}