// Place all the styles related to the CorpusEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#form_heading_document {
  margin-left: 12px;
}


#form_label{
  color: #4B4B4B;
}


.form-control {
    border-color: none;
    border-width: 2px;
}

#btn_margin {
  margin-left: 30px;
}
#entry_heading ul li {
  display: inline;
  list-style-type: none;
}
#entry_heading {
  list-style-type: none;
  font-size: 20px;
}
.entry_row_heading {
  border-bottom: solid #6b8cae 1px;
  padding-top: 1%;
  margin: -5px 0px 5px 0px;
}

#entry_genre {
  margin-left: -5%;
  color: #2980b9;
}
#entry_format {
  float: right;
  color: #333333;
}
#explore_jumbotron {
  background-image: url("class_mobile.png");
  background-size: cover;
  margin: none;
} 
#explore_heading {
  color: #ecf0f1;
}
#explore_text {
  color: #ecf0f1;
  line-height: 100%;
  background-color: #34495e;
  padding: 4%;
  border-radius: 5px;
}
#search_by_whole_corpus{
  width: 745px;
  border-color: #95a5a6;
}
#search_button{
  margin-bottom: 5px;
}
.form-inline{
  margin-bottom: 40px;
}
#classification_filter{
  height: 60px;
}
#student_level_filter{
  height: 60px;
}
#format_filter{
  height: 60px;
}