// Place all the styles related to the CorpusEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#form_label{
  color: #4B4B4B;
}

.form-control {
    border-color: none;
    border-width: 2px;
}

#entry_heading ul li {
  display: inline;
  list-style-type: none;
}
#entry_heading {
  list-style-type: none;
  font-size: 20px;
}
#entry_row_heading {
  border-bottom: solid #6b8cae 1px;
  padding-top: 3%;
  margin: -5px 0px 5px 0px;
}

#entry_link {
  margin-left: -40px;
  color: #2980b9;
}
#entry_year {
  float: right;
  color: #333333;
}
#explore_jumbotron {
  background-image: url("class_mobile.png");
  background-size: cover;
  margin: none;
} 
#explore_heading {
  color: #ecf0f1;
}
#explore_text {
  color: #ecf0f1;
  line-height: 100%;
  background-color: #34495e;
  padding: 4%;
  border-radius: 5px;
}
#search_by_whole_corpus{
  border-color: #95a5a6;
  background-color: #f9f9f9;
  margin-bottom: -50px;
}
#search_button{
  margin-bottom: 0px;
}
.form-inline{
  margin-bottom: 35px;
}
#genre_filter{
  height: 35px;
  margin-bottom: -25px;
}
#classification_filter{
  height: 35px;
  margin-bottom: -25px;
}
#student_level_filter{
  height: 35px;
  margin-bottom: -25px;
}
#format_filter{
  height: 35px;
  margin-bottom: -25px;
}
#password_msg{
  float:right;
  font-size: 18px;
}
#filter_panel{
}
#show_heading {
  margin-left: 20px;
  color: #333333;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #search_by_whole_corpus{
    width: 610px;
    margin-bottom: 0px;
  }
  #search_button{
    margin-bottom: 5px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #filter_panel{
  }
  #genre_filter{
    height: 60px;
  }
  #classification_filter{
    height: 60px;
  }
  #student_level_filter{
    height: 60px;
  }
  #format_filter{
    height: 60px;
  }
  #search_by_whole_corpus{
    width: 590px;
  }
  #entry_row_heading {
    border-bottom: solid #6b8cae 1px;
    padding-top: 1%;
    margin: -5px 0px 5px 0px;
  }

  #entry_link{
    margin-left: -5%;
    color: #2980b9;
  }
  #entry_year {
    float: right;
    color: #333333;
  }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #search_by_whole_corpus{
    width: 745px;
  }
  #search_button{
    margin-bottom: 5px;
  }
}