/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */  

  #people_jumbotron {
    background-image: url("class_mobile.png");
    background-size: cover;
    margin: none;
}
  #people_heading {
    color: #ecf0f1;
  }
  #people_text {
    color: #ecf0f1;
    line-height: 100%;
    padding: 4%;
    border-radius: 5px;
    background-color: #34495e;
  }


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  
  
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}