<div class="containter">
  <h1 id="form_title">Upload a Student Document</h1><hr><br/><br/>
  <%= render 'form' %>
  <div class="row">
    <%= link_to 'Back', corpus_entries_path %>
  </div>
</div>
  