<div id="footer_layout">
	<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
          <h6 id="signature">techCorp | 2016</h6>
					<h6 id="footer_copy">Developed with Ruby on Rails</h6>
				</div>
		</div>
	</div>
</div>